<div class="panel panel-dark">
  <div class="panel-header">
    {{title}}
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-1">
        Filter By:
      </div>
      <div class="col-md-2">
        <input type="text" [(ngModel)]="searchText" />
      </div>
      <div class="col-md-4">
        <h2>User Text: {{searchText}}</h2>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <button class="btn btn-md btn-success " (click)="toggleImage()">
                {{condition? "Hide Image": "Show Image"}}
              </button>
            </th>
            <th scope="col">Restaurant</th>
            <th scope="col">City</th>
            <th scope="col">Rating</th>
            <th scope="col">min price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of restaurantList">
            <th scope="row">
              <img [src]="restaurant.thumb" class="myImage" *ngIf="condition" />
            </th>
            <td>{{restaurant.name | uppercase}}</td>
            <td>{{restaurant.city}}</td>
            <td [ngStyle]="{color: restaurant.aggregate_rating<4? 'red':'green'}">{{restaurant.aggregate_rating}}</td>
            <td>{{restaurant.min_price | currency:'INR'}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>