<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h2>Employee List</h2>
        </div>
        <div class="card-body">
            <table class="table table-dark table-responsive">
                <thead>
                    <th scope="row">
                        #ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Email
                    </th>
                    <th>

                    </th>
                </thead>
                <tbody>
                    <tr ColorOnHover *ngFor="let employee of employeeList;index as i">
                        <td>
                            {{ employee.id}}
                        </td>
                        <td>
                            <span *ngIf="!editEmployee || editEmpIndex !=i">{{employee.firstName}}</span>
                            <input type="text" class="form-control" [(ngModel)]="employee.firstName" *ngIf="editEmployee && editEmpIndex==i"/> 
                        </td>
                        <td>
                            <span *ngIf="!editEmployee || editEmpIndex !=i">{{employee.lastName}}</span>
                            <input type="text" class="form-control" [(ngModel)]="employee.lastName" *ngIf="editEmployee && editEmpIndex==i"/> 
                        </td>
                        <td>
                            <span *ngIf="!editEmployee || editEmpIndex !=i">{{employee.Dob | date | uppercase}}</span>
                            <input type="text" class="form-control" [(ngModel)]="employee.Dob" *ngIf="editEmployee && editEmpIndex==i"/> 
                        </td>
                        <td>
                            <span *ngIf="!editEmployee || editEmpIndex !=i">{{employee.salary| currency:'INR'}}</span>
                            <input type="text" class="form-control" [(ngModel)]="employee.salary" *ngIf="editEmployee && editEmpIndex==i"/> 
                        </td>
                        <td>
                            <span *ngIf="!editEmployee || editEmpIndex !=i">{{employee.emailId}}</span>
                            <input type="text" class="form-control" [(ngModel)]="employee.emailId" *ngIf="editEmployee && editEmpIndex==i"/> 
                        </td>
                        <td>
                            <button class="btn btn-success" *ngIf="editEmployee && editEmpIndex==i" (click)="updateEmp()">Update Details</button>
                            <button class="btn btn-success" *ngIf="!editEmployee" (click)="editEmp(i)">Edit Employee Details</button>
                        </td>
                    </tr>

                </tbody>
                
            </table>

        </div>
    </div>
    </div>

</div>